<main>
  <div class="container mt-5 bg-altgray">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center text-dark">
          <h1>Login</h1>
        </div>
        <% if (messages.error) { %> <%= messages.error %> <% } %>
        <form action="login" method="POST">
            <div class="mb-3 text-dark">
              <label for="InputEmail" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="InputEmail"
                aria-describedby="email"
                name="email"
                required
              />
            </div>
            <div class="mb-3 text-dark">
              <label for="InputPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="InputPassword"
                name="password"
                autocomplete="off"
                required
              />
            </div>
            <div class="ms-auto mb-3">
              <a href="forgotpassword">Forgot password?</a>
            </div>
            <div class="d-grid gap-3 col-12 mx-auto text-dark">
              <button class="btn btn-primary" type="submit">Login</button>
              <a class="btn btn-secondary" href="register">Register</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
