<header>
  <nav
    class="navbar fixed-top shadow navbar-expand-md navbar-dark"
    style="background-color: #252831"
  >
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/foodiq logo w.png" alt="" width="30" height="30" />
        foodiq</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0 gap-3 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <% if(isLoggedIn){ %>
            <form action="/logout?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger" type="submit">
                Logout
              </button>
            </form>
            <% } else{ %>
            <a class="btn btn-outline-primary" href="/login">Login</a>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
