<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 text-center text-primary">
                <h1>RESTAURANT RESERVATION</h1>
                <h2>FREE AND SIMPLE TO USE</h2>
                <p>Create an account with foodiq.</p>
            </div>
            <div class="col-6">
                <img src="img/webbuilding.svg" alt="website building" id="main__img" />
            </div>
        </div>
    </div>
</main>

