<main>
    <div class="container mt-5">
        <div class="row">
            <span class="col-6 text-center">
                <h1 class="display-1 text-primary">RESTAURANT RESERVATION</h1>
                <h2 class="display-5 text-success">FREE AND SIMPLE TO USE</h2>
                <h4 class="text-danger">Create an account with foodiq.</h4>
                <a class="btn btn-outline-danger btn-lg mt-4" href="/account/register">Get Started</a>
            </span>
            <div class="col-6">
                <img src="img/webbuilding.svg" alt="website building" id="main__img" />
            </div>
        </div>
    </div>
</main>

