<main>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-7">
        <h2>Edit</h2>
      </div>
    </div>
    <form action="/restaurants/<%= restaurant.id %>?_method=PUT" method="POST">
      <%- include ('_restaurant_form_fields.ejs') %>
      <div class="row mb-3">
        <div class="col">
          <button type="submit" class="btn btn-primary">Finish</button>
          <a href="/" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</main>
